<html>
  <title>PHP build by Chef</title>
  <body>
    <?php
    
      $host = "<%= node['webapp-linux']['database']['host'] %>";
      $username = "<%= node['webapp-linux']['database']['app']['username']%>";
      $password = "<%= @password %>";
      $database = "<%= node['webapp-linux']['database']['dbname']%>";
      $socket = '<%= "/var/run/mysql-#{node['webapp-linux']['database']['instance']}/mysqld.sock" %>';

      $conn = mysqli_connect($host,$username,$password,$database,3306, $socket);

      if($conn -> connect_error) {
        die("Connection error!");
      }

      $sql = "SELECT id, first_name, last_name, email FROM customers";
      $result = $conn->query($sql);

      if ($result->num_rows > 0) {
          // output data of each row
          while($row = $result->fetch_assoc()) {
              echo "id: " . $row["id"]. " - " . $row["first_name"]. " " . $row["last_name"] . ", " . $row["email"] . "<br>";
          }
      } else {
          echo "0 results";
      }

      $conn->close();

    ?>
  </body>
</html>